.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.nav-tabs {
  text-align: center; }

.nav-tabs > li {
  float: none;
  display: inline-block; }

#game-form input, #game-form button {
  margin-top: 5px; }

#crown {
  height: 20px;
  width: 20px;
  margin-left: -20px; }
